{% extends 'base.html' %}
{% block title %}
    {{ post.name }} ({{ post.release_year }})
{% endblock title %}
{% block content %}
    <h2>Detalhes do Livro "{{ post.name }} ({{ post.release_year }})"</h2>
    <section class="dados-de-livro">
        <img src="{{ post.capa_url }}" alt="Capa do livro {{ post.name }}" style="margin-left: 40px;"/>
        <ul>
            <li style="margin-bottom: 8px;"><strong>Nome:</strong> {{ post.name }}</li>
            <li style="margin-bottom: 8px;"><strong>Ano de Lançamento:</strong> {{ post.release_year }}</li>
            <li style="margin-bottom: 15px;"><div><strong>Sinopse:</strong> {{ post.content|safe }}</div></li> <hr>
            <li><strong>Data de postagem:</strong> {{ post.data_postagem|date:"d/m/Y" }}</li> 
            <li><a href="{% url 'posts:update' post.id %}">Editar</a></li>
            <li><a href="{% url 'posts:delete' post.id %}">Apagar</a></li> <hr>
        </ul>
        <p><strong>Gêneros:</strong></p>
        <ul>
            {% for category in post.categories.all %}
                <li><a href="{% url 'posts:category-detail' category.pk %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
    <hr>

    <section>
        <header>
            <h3>Resenhas</h3>
        </header>
        <ul>
            {% if post.comment_set.all %}
            {% for comment in post.comment_set.all|dictsortreversed:"data_postagem" %}
                    <figure>
                        <blockquote>
                            "{{ comment.text }}"
                        </blockquote>
                        <figcaption>—{{ comment.author }} ({{ comment.data_postagem|date:"d/m/Y" }})</figcaption>
                    </figure>
                {% endfor %}
            {% else %}
                <p>Ainda não existe nenhuma resenha para este livro.</p>
            {% endif %}
        </ul>
        <hr>
        <a href="{% url 'posts:comment' post.pk %}"><button>Crie sua Resenha</button></a>
    </section>
{% endblock content %}
    